@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .catalog
    &-apple
      width: 90px
    &-grape
      width: 50px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .instfphoto
    &:after
      left: 8%
  .catalog
    &-item
      padding-top: 30px
      padding-bottom: 30px
    &-second-line
      margin: 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .slider-flex
    display: block
    text-align: center
  .slider-item-text
    padding-top: 30px
  .slider-item-text-h2
    font-size: 40px
  .slider-item-text-p
    font-size: 14px
    padding-top: 10px
  .slider
    padding: 50px 0 11px 0
  .instfphoto
    padding-top: 55px
    &:after
      content: none
    img
      +boxshadow(1px, 1px, 50px, -10px, black, .2)
  .button
    white-space: nowrap
  .catalog
    &:before
      content: none
    &-apple, &-grape
        display: none
    &:after
      width: 124%
  .scall:after
     content: none
  .footer
    text-align: center
    padding-bottom: 10px
    &-logo
      text-align: center
  .contact-text
      text-align: center
      &-h2
        text-align: left
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .slider-item-img img
      max-width: 250px
  .catalog
    &-popup
      width: 100%


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
    /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

